################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sprint0/FileContentIndex
/.vs/Sprint0/DesignTimeBuild/.dtbcache.v2
