################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sprint0/FileContentIndex
/.vs/Sprint0/DesignTimeBuild/.dtbcache.v2
/Sprint0/bin/Debug/net6.0/Sprint0.pdb
/Sprint0/obj/Debug/net6.0/ref/Sprint0.dll
/Sprint0/obj/Debug/net6.0/refint/Sprint0.dll
/Sprint0/obj/Debug/net6.0/Sprint0.csproj.CoreCompileInputs.cache
/Sprint0/obj/Debug/net6.0/Sprint0.csproj.FileListAbsolute.txt
/Sprint0/obj/Debug/net6.0/Sprint0.dll
/Sprint0/obj/Debug/net6.0/Sprint0.pdb
/Sprint0/bin/Debug/net6.0/Sprint0.dll
