################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/sprint0.metadata.v7.bin
*.bin
*.v2
*.suo
/.vs/Sprint0/FileContentIndex
/.vs/Sprint0/v17/.suo
/Sprint0/obj/Debug/net6.0/Sprint0.assets.cache
/Sprint0/obj/Debug/net6.0/Sprint0.GeneratedMSBuildEditorConfig.editorconfig
/.vs/Sprint0/FileContentIndex/1be0563b-6138-4143-9a19-4464edf05b83.vsidx
/.vs/Sprint0/FileContentIndex/1c8be87a-ed7c-4363-b1a7-f6206cf20b68.vsidx
/.vs/Sprint0/FileContentIndex/27eda018-b834-42af-b280-7286050d1618.vsidx
/.vs/Sprint0/FileContentIndex/30b9293e-3030-40d8-91e3-f7cf72d0f405.vsidx
/.vs/Sprint0/FileContentIndex/63b25c0e-d63f-4532-a900-e0f2cbdaba91.vsidx
/.vs/Sprint0/FileContentIndex/a4e81bbd-d384-4e26-83f8-e3c46f95475c.vsidx
/.vs/Sprint0/FileContentIndex/cfd7e024-54c3-41f3-95b8-f7c017789d86.vsidx
/.vs/Sprint0/FileContentIndex/d99144f2-5670-4633-b34d-091374f1ec61.vsidx
/.vs/Sprint0/FileContentIndex/d44d27a2-f38d-43bc-9796-624edc194462.vsidx
/.vs/Sprint0/FileContentIndex/b6f97931-9ca5-4497-ac00-1e718a5a0e34.vsidx
/.vs/ProjectEvaluation/sprint0.metadata.v7.bin
/.vs/ProjectEvaluation/sprint0.projects.v7.bin
/.vs/Sprint0/DesignTimeBuild/.dtbcache.v2
/.vs/Sprint0/DesignTimeBuild/.dtbcache.v2
